<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://kit.fontawesome.com/602e6d2296.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/custom.css">

    <title style="text-transform: capitalize;">
        <%=what%>
    </title>

</head>

<body class="vh-100">
    <% if (currentUser) {%>
        <% if(currentUser.isAdmin) {%>
            <%- include( '../admin/admin-navbar');%>
                <% } else { %>
                    <%- include( '../customer/navbar');%>
                        <% } %>

                            <% } else { %>
                                <%- include( '../customer/navbar');%>
                                    <% } %>
                                        <main class="container mb-5">
                                            <%- include( '../partials/flash');%>

                                                <%- body -%>
                                        </main>


                                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
                                        <!-- <script src="/js/bootstrap.js"></script> -->
                                        <script src="/js/bootstrap-form-validation.js"></script>
                                        <% if (what == "Sign Up") { %>
                                            <script src="/js/custom-user-register-form-validation.js"></script>
                                            <%}  %>

                                                <% if (what == "MyCart") {%>
                                                    <script src="/js/shopping-cart.js"></script>
                                                    <% } %>

                                                        <% if (what.includes('Orders')) {%>
                                                            <script src="/js/orders.js"></script>

                                                            <% } %>
                                                                <% if (what.includes('Products')) {%>
                                                                    <script src="/js/products.js"></script>
                                                                    <% } %>
                                                                        <% if (what == "Manage users") {%>
                                                                            <script src="/js/users.js"></script>

                                                                            <% } %>
</body>

</html>