<% layout('layouts/customer-boilerplate')  -%>
    <div class="row">
        <div class="col-6 mb-5">
            <div class="card">
                <img src="https://source.unsplash.com/MvCde9kgov8" class="card-img-top" alt="...">
                <div class="card-body">
                    <% if (product.tags.includes('OnSale')) {%>
                        <span style="float: left; margin-right: 10px" class="badge bg-warning">OnSale</span>
                        <% } %>
                            <h5 class="card-title" style="text-transform: capitalize;">
                                <%= product.name %>
                            </h5>
                            <p class="card-text">
                                <%= product.description %>
                            </p>

                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= product.price %> zl per
                            <%= product.quantity_type %>
                    </li>
                    <li class="list-group-item">
                        Available in stock:
                        <%= product.quantity %>
                            <%= product.quantity_type %>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-6 mb-5">
            <div class="card">

                <div class="card-body">
                    <input type="number" name="" id="">

                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button class="btn btn-primary btn-lg">Add to card</button>
                    </li>

                </ul>

            </div>
        </div>
    </div>