<% layout('layouts/customer-boilerplate')  -%>
    <div class="row">
        <div class="col-6 mb-5">
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% product.images.forEach((img, i)=>{%>
                        <div class="carousel-item <%= i=== 0 ? 'active' : '' %>">
                            <img src="<%= img.url %>" class="d-block" width="100%" height="500" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if(product.images.length > 1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                     </button>
                    <% } %>
            </div>

            <div class="card">

                <div class="card-body">
                    <% if (product.tags.includes('OnSale')) {%>
                        <span style="float: left; margin-right: 10px" class="badge bg-warning">OnSale</span>
                        <% } %>
                            <h5 class="card-title" style="text-transform: capitalize;">
                                <%= product.name %>
                            </h5>
                            <span class="card-text">
                                <%= product.description %>
                            </span>

                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= product.price %> zl per
                            <%= product.quantity_type %>
                    </li>
                    <li class="list-group-item">
                        Available in stock:
                        <%= product.quantity %>
                            <%= product.quantity_type %>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/products/<%= product._id %>/edit" class="btn btn-primary">Edit</a>
                    <a href="/products/<%= product._id %>/edit/photos" class="btn btn-success">Manage Photos</a>
                    <form class="d-inline" method="POST" action="/products/<%= product._id %>?_method=DELETE">
                        <button class="btn btn-secondary">Delete</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-6 mb-5">
            <div class="card">

                <div class="card-body">
                    <input type="number" id="actual-user-input" value="1" onchange="updateHiddenQuantityValue()">
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form method="POST" action="/shopping-cart/add">
                            <input type="text" hidden name="productID" value="<%= product._id %>">
                            <input type="text" hidden id="hidden-user-input" name="quantity" value="1">
                            <input type="text" hidden name="userID" value="<% if (currentUser) {%><%= currentUser._id%><% } %>">
                            <button class="btn btn-primary btn-lg">Add to card</button>

                        </form>
                    </li>

                </ul>

            </div>
        </div>
    </div>

    <script>
        function updateHiddenQuantityValue() {
            const actualinput = document.getElementById('actual-user-input')
            const hiddeninput = document.getElementById('hidden-user-input')
            hiddeninput.setAttribute('value', actualinput.value)
        }
    </script>